// Application-level settings for the Runner target.
//

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = Flaska

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = net.kastelo.flaska

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2022-2023 Kastelo Inc. All rights reserved.
